[Unit]
Description=infra tools

[Service]
User=apps
Group=apps
Restart=always
EnvironmentFile=/etc/sysconfig/infra-tools-fileserver
ExecStart=/usr/sbin/infra-tools-fileserver $OPTIONS

[Install]
WantedBy=multi-user.target
